<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <title>Grids & Circles</title>
</head>
<body class="container-fluid">
<h1>Grids & Circles</h1>
<h2>Production Management</h2>
<form th:action="@{/products}" method="post">
  <div class="mb-3">
    <label for="productName" class="form-label">Name</label>
    <input type="text" class="form-control" id="productName" name="productName">
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <select id="category" name="category" class="form-select">
      <option selected>Open this select menu</option>
      <option value="COFFEE_BEAN_PACKAGE">COFFEE BEAN PACKAGE</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="number" class="form-control" id="price" name="price">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>